@media screen and ( max-width:576px){
    .nav-container{
        flex-direction: column;
        gap: 10px;
        height: auto;
    }
    .logo{
        flex-direction: column;
    }
    .menu-bar>ul{
        flex-direction: column;
        gap: 10px;
    }
    .primary-btn{
        margin-bottom: 10px;
    }

    .banner-section{
        flex-direction: column;
    }
    .banner-text{
        width: 100%;
        margin-bottom: 30px;
    }
    .banner-img{
        width: 100%;
    }

}